:root {
    --brand-gold: #9B8E61;
    --brand-blue: #102F54;
    --brand-black: #101820;
    --brand-brown: #403E3D;
    --brand-green: #87C770;
  }
  
  $brand-gold: #9B8E61;
  $brand-blue: #102F54;
  $brand-black: #101820;
  $brand-brown: #403E3D;
  $brand-green: #87C770;


  $black: var(--brand-black);
$grey: #ECEDED;

$orange: $brand-gold;
$blue: $brand-blue;
$white: #fff;

$maroon: $orange;
$teal: $blue;

  
  
  $mobile: 768px;