
$slider-breakpoint: 900px;
.custom-slider {
    .slider-heading p {
        font-weight: 600 !important;
    }
    .custom-slide-heading {
        p {
            border-bottom: 2px solid #504E4D !important;
            margin-bottom: 50px !important;
            padding-bottom: 16px !important;

            @media (max-width: $slider-breakpoint) {
                margin-bottom: 30px !important;
            }

            max-width: 400px;
        }
    }

    .nextend-arrow {
        border: 2px solid #504E4D;
        padding: 1rem !important;
        border-radius: 50%;
        overflow: visible !important;
        border-color: #504E4D !important;
    }

    .nextend-arrow.nextend-arrow-previous {
        @media (max-width: $slider-breakpoint) {
            left: -40px !important;
        }
    }

    .nextend-arrow.nextend-arrow-next {
        left: 45px !important;

        @media (max-width: $slider-breakpoint) {
            left: 10px !important;
        }
    }

    .slider-pagination {
        position: absolute;
        left: 135px;
        z-index: 100;
        bottom: 70px;

        @media (max-width: $slider-breakpoint) {
            left: 76px;
        }

        p, span {
            font-size: 3.4rem;
            font-weight: bold;
            color: #504E4D;

            @media (max-width: $slider-breakpoint) {
                font-size: 2.4rem;
                margin-left: 1rem;
            }

            &.bullet {
                margin: 0 0.8rem;

                @media (max-width: $slider-breakpoint) {
                    margin: 0 0.2rem 0 1rem;
                }
            }
        }
    }
}

div#n2-ss-2 .n2-style-7a4f18e396a68d592cc1cf4f9021d7b9-heading,
div#n2-ss-5 .n2-style-7a4f18e396a68d592cc1cf4f9021d7b9-heading {
    border-color: #504E4D !important;
}