footer {
    a {
        transition: all 0.2s ease-in-out;

        &:hover {

            @media (min-width: $tablet) {
                color: $maroon !important;
                text-decoration: none;
            }
        }
    }
}
