#esg-grid-3-1 {

    // format grid item copy spacing
    &.esg-grid li {
        cursor: pointer;

        .esg-center {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    // format + icon
    .eg-icon-plus:before {
        content: '+';
    }

    // filters
    .esg-filters {
        .esg-filter-wrapper {
            margin-bottom: 6rem; 

            @media(max-width: 700px) {
                width: 100%;
            }
        }

        .esg-filterbutton {
            background: $brand-brown;
            border: none;
            border-radius: 0;
            overflow: visible;
            position: relative;
            margin: 0;
            transition: all 0.2s ease-in-out;
            border-right: 8px solid white;
            border-left: 8px solid white;
            padding: 0 6px;
            box-shadow: none;

            &:hover {
                box-shadow: none;
                background: lighten($brand-brown, 20%);
                span {
                    color: $white;
                }
            }

            &.selected {
                background: $brand-green;
                box-shadow: none;
                span {
                    color: $white;
                }
            }
            
            span {
                font-weight: bold;
                color: $white;
                text-transform: uppercase;
                font-family: $sans-serif;
                font-size: 1.4rem;
                padding: 0.8rem 2rem;
                transition: all 0.15s ease-in-out;

                @media(max-width: 1060px) {
                    font-size: 1.3rem;
                    padding: 0 2rem;
                }
            }

            @media(max-width: 850px) {
                display: block;
                width: 100%;
                margin: 0.5rem 0;

                span {
                    font-size: 1.4rem;
                }

                &:before, &:after {
                    display: none;
                }
            }
        }
    }
}


#essentialGridCustomLightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($brand-brown, 0.95);
    z-index: 1000;
   overflow-y: scroll;
   -webkit-animation: fadeIn .2s infinite;
    animation: fadeIn .2s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;

    button {
        width: 28px;
        height: 28px;
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: 1000;
        padding: 0;
        background: 0 0;
        border: none;

        span {
            height: 2px;
            display: block;
            width: 100%;
            background: #fff;
            pointer-events: none;
            position: absolute;
            top: 50%;

            &:first-of-type {
                transform: rotate(45deg);
            }

            &:last-of-type {
                transform: rotate(-45deg);
            }
        }
    }

    .essential-grid-custom-modal .fl-builder-content {
        margin-top: 10vh
    }
    
    .essential-grid-custom-modal .fl-builder-content a {
        border: none
    }


    .content-container {
        .image-container {
            max-width: 900px;
            margin: 0 auto;
            padding: 20px;
            margin-top: 5vh;
        }

        .button-container {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;

            .fl-button {
                margin: 0 auto;
                padding: 12px 28px;
                display: inline-block;
                font-size: 13px;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1px;
                background: white;
                color: $teal;
                border-radius: 14px 0;
                border: none;

                &:hover {
                    text-decoration: none;
                    background: $brand-green;
                    color: $white;
                }
                &:focus {
                    text-decoration: none;
                }
            }
        }
        
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}